/* Structure */
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  mat-form-field{
    margin-top: 10px;
  }

  .divcontent{
    cursor: pointer;
  }
  .divcontent:hover{
    background: #d1d3d4!important;
}